.highlySecure {
    position: absolute;
    top: 84px;
    left: calc(50% - 66.5px);
    line-height: var(--font-size-5xl);
    font-weight: 500;
  }
  .withSsltcpEncryption {
    position: absolute;
    top: 126px;
    left: calc(50% - 77.5px);
    font-size: var(--text-md-semibold-size);
    font-weight: 300;
    text-align: center;
    display: inline-block;
    width: 156px;
  }
  .shieldcheckIcon {
    position: absolute;
    top: 18px;
    left: 67px;
    width: 56px;
    height: 56px;
  }
  .highlySecureParent {
    width: 189px;
    position: absolute;
    margin: 0 !important;
    top: 0px;
    left: 0px;
    background-color: var(--color-paleturquoise);
    border: 1px solid var(--color-mediumslateblue-100);
    box-sizing: border-box;
    height: 242px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 0;
  }
  .autoDeletion {
    position: absolute;
    top: 84px;
    left: calc(50% - 64.5px);
    line-height: var(--font-size-5xl);
    font-weight: 500;
  }
  .autoDeletionParent {
    width: 189px;
    position: absolute;
    margin: 0 !important;
    top: 0px;
    left: 208px;
    background-color: var(--color-paleturquoise);
    border: 1px solid var(--color-mediumslateblue-100);
    box-sizing: border-box;
    height: 242px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
  }
  .cloudRun {
    position: absolute;
    top: 84px;
    left: calc(50% - 49.5px);
    line-height: var(--font-size-5xl);
    font-weight: 500;
  }
  .cloudRunParent {
    width: 189px;
    position: absolute;
    margin: 0 !important;
    top: 0px;
    left: 416px;
    background-color: var(--color-paleturquoise);
    border: 1px solid var(--color-mediumslateblue-100);
    box-sizing: border-box;
    height: 242px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 2;
  }
  .uspSection {
    align-self: stretch;
    height: 242px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: var(--gap-3xs);
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--text-md-semibold);
  }
  
  @media screen and (max-width: 668px) {
    .uspSection {
      align-self: stretch;
      width: auto;
      flex-direction: column;
      gap: var(--gap-xl);
      align-items: flex-start;
      justify-content: flex-start;
    }

    .highlySecureParent {
      align-self: stretch;
      width: "100%";
    }
  
    .autoDeletionParent {
      align-self: stretch;
      width: "100%";
    }
  
    .cloudRunParent {
      align-self: stretch;
      width: "100%";
    }
    
  }
  