.step3Of {
    position: relative;
    line-height: var(--font-size-xl);
  }
  .text {
    align-self: stretch;
    position: relative;
    line-height: 28px;
    font-weight: 600;
  }
  .supportingText {
    align-self: stretch;
    position: relative;
    font-size: var(--text-sm-regular-size);
    line-height: var(--font-size-xl);
    color: var(--gray-500);
  }
  .textAndSupportingText {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    font-size: var(--text-lg-semibold-size);
    color: var(--gray-900);
  }
  .label {
    position: relative;
    line-height: var(--font-size-xl);
    font-weight: 500;
  }
  .input {
    background-color: transparent;
    align-self: stretch;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    font-family: var(--text-md-semibold);
    font-size: var(--text-md-semibold-size);
    color: var(--gray-900);
  }
  .inputWithLabel {
    align-self: stretch;
    width: 304px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
  }
  .inputWithLabel1 {
    align-self: stretch;
    width: 112px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
  }
  .row {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .input2 {
    align-self: stretch;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  }
  .inputWithLabel2 {
    align-self: stretch;
    width: 219px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
  }
  .inputWithLabel3 {
    align-self: stretch;
    width: 198px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
  }
  .form {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-base);
    font-size: var(--text-sm-regular-size);
    color: var(--gray-700);
  }
  .content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
  }
  .buttonBase {
    flex: 1;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  }
  .modalActions {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .modalSubscribe3 {
    width: 480px;
    position: relative;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08),
      0px 8px 8px -4px rgba(16, 24, 40, 0.03);
    border-radius: var(--br-xs);
    background-color: var(--white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xl);
    box-sizing: border-box;
    gap: var(--gap-13xl);
    max-width: 100%;
    max-height: 100%;
    text-align: left;
    font-size: var(--text-md-semibold-size);
    color: var(--color-black);
    font-family: var(--text-md-semibold);
  }
  