.ad {
  width: 300px;
  position: relative;
  background-color: var(--color-whitesmoke);
  height: 250px;
  overflow: hidden;
  flex-shrink: 0;
}
.adWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-21xl) 0px 0px;
}
.fileConverter {
  position: relative;
  font-weight: 600;
}
.securelyConvertFiles {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 300;
  text-align: center;
}
.fileConverterParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  z-index: 0;
}
.dotIcon {
  width: 10px;
  position: relative;
  height: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.text {
  position: relative;
  line-height: var(--font-size-5xl);
}
.content2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.chevronDownIcon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.input {
  flex: 1;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-mediumslateblue-100);
  box-sizing: border-box;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-sm);
  gap: var(--gap-5xs);
  cursor: pointer;
}
.inputParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  z-index: 1;
  font-size: var(--text-md-semibold-size);
  color: var(--gray-500);
}
.arrowarcright {
  position: absolute;
  top: 0px;
  left: 0px;
}
.arrowarcright1 {
  position: absolute;
  top: 72px;
  left: 32px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.arrowarcrightParent {
  width: 32px;
  position: absolute;
  margin: 0 !important;
  top: 114px;
  left: 286.5px;
  height: 72px;
  z-index: 2;
}
.heroSection {
  align-self: stretch;
  background-color: var(--color-paleturquoise);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-13xl) var(--padding-5xl);
  position: relative;
  gap: var(--gap-13xl);
}
.ad1 {
  width: 468px;
  position: relative;
  background-color: var(--color-whitesmoke);
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
}
.buttonBase {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 130px);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
.buttonBase1 {
  position: absolute;
  top: calc(50% + 30px);
  left: calc(50% + 130px);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.mainButton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 260px;
  position: relative;
}
.maxFileSize {
  position: relative;
}
.uploadSection {
  align-self: stretch;
  background-color: var(--color-paleturquoise);
  border: 1px dashed var(--color-slateblue-200);
  box-sizing: border-box;
  height: 214px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  text-align: center;
  font-size: var(--text-md-semibold-size);
}
.ad2 {
  width: 468px;
  position: relative;
  background-color: var(--color-whitesmoke);
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
}
.content1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.divider {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--color-mediumslateblue-100);
  box-sizing: border-box;
  height: 1px;
}
.ad3 {
  width: 300px;
  position: relative;
  background-color: var(--color-whitesmoke);
  height: 250px;
  overflow: hidden;
  flex-shrink: 0;
}
.content {
  width: 605px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: 40px;
  color: var(--color-black);
  font-family: var(--text-md-semibold);
}
.ad4 {
  width: 300px;
  position: relative;
  background: linear-gradient(var(--color-whitesmoke), var(--color-whitesmoke)),
    linear-gradient(var(--color-whitesmoke), var(--color-whitesmoke)),
    var(--color-whitesmoke);
  height: 250px;
  overflow: hidden;
  flex-shrink: 0;
}
.main {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-0);
}
.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
  max-width: 1280px;
}
.page {
  width: 100%;
  position: relative;
  background-color: #fefefe;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 1440px) {
  .ad {
    width: 160px;
    height: 600px;
  }

  .ad4 {
    width: 160px;
    height: 600px;
  }

  .body {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .ad {
    display: none;
    width: 120px;
  }

  .ad1 {
    width: 728px;
    height: 90px;
  }

  .ad2 {
    width: 728px;
    height: 90px;
  }

  .ad4 {
    display: none;
    width: 120px;
  }
}
@media screen and (max-width: 975px) {
  .adWrapper {
    display: none;
  }

  .ad1 {
    width: 768px;
  }

  .ad2 {
    width: 768px;
  }

  .content {
    width: 605px;
  }

  .main {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 852px) {
  .ad1 {
    width: 468px;
    max-height: 60px;
  }

  .ad2 {
    width: 468px;
    max-height: 60px;
  }
}
@media screen and (max-width: 673px) {
  .body {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 668px) {
  .fileConverter {
    font-size: 28px;
  }

  .content {
    align-self: stretch;
    width: auto;
  }
}
@media screen and (max-width: 596px) {
  .securelyConvertFiles {
    font-size: var(--text-md-semibold-size);
  }
}
@media screen and (max-width: 420px) {
  .fileConverter {
    font-size: var(--font-size-5xl);
  }

  .securelyConvertFiles {
    font-size: var(--text-sm-regular-size);
  }

  .ad1 {
    width: 320px;
    height: 50px;
  }

  .maxFileSize {
    font-size: var(--font-size-xs);
  }

  .uploadSection {
    height: 168px;
  }

  .ad2 {
    width: 300px;
    height: 250px;
    max-height: 250px;
  }
}
